

<div class="jumbotron"id="jumbotron_create" >
  <div class="container mt-4 text-center text-white" > 
    
  </div>
    <div class="card  text-white h-75 w-25 p-3  mx-auto" style="width: 30rem;" id="transparent">
    <%if @event.picture.attached?%>
        <%= image_tag @event.picture, alt: 'avatar', style: "max-width: 460px ; max-height: 230px; ", class: ' card-img-top' %>
      <%else%>
        <p>=== N'hésite pas à éditer ton évènement avec une photo ===</p>
    <%end%>
  <div class="card-body">
    <h1 class="card-title display-4  text-center">
        Event n° <%= @event.id %>
    </h1>
    <p class="card-title ">
      <ul class="list-group list-group-flush text-primary ">
        <li class="list-group-item">Titre: <%= @event.title %></li>
      </ul>
    </p>
  </div>
  <ul class="list-group list-group-flush text-primary ">
    <li class="list-group-item">Début: <%= @event.start_date %></li>
    <li class="list-group-item">Fin: <%= @event.start_date + @event.duration * 60 %></li>
    <li class="list-group-item">Durée: <%= @event.duration %> min</li>
    <li class="list-group-item">Prix: <%= @event.price %> €</li>
    <li class="list-group-item">Lieux: <%= @event.location %></li>
  </ul>
    <p class="card-text m-4  ">
        <ul class="list-group list-group-flush text-primary ">
            <li class="list-group-item overflow-auto">
              CONTENU:<br><%= @event.description %><br>
            </li>
            <div class=" btn-group btn-sm" >
              
                <% if (current_user != @event.admin) && (!@event.users.include?(current_user)) %>
                  <a class="btn btn-primary "<%= link_to "Participer à l'évènement", new_event_attendance_path(@event.id) %></a> 
                <% end %>
              
                <% if current_user == @event.admin %>
                  <a class="btn btn-primary"<%= link_to "Liste des participants", event_attendances_path(@event)  %></a> 
                  <a href='<%= event_path(@event.id) %>' class='btn btn-danger text-center' data-confirm='Etes-vous sur' data-method='DELETE'>Supprimer</a>
                <% end %>
              
            </div>
        </ul>
    </p>
</div>
    
</div>